* {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    height: 60px;
    justify-content: center;
    text-align: center;
}
header > img {
    position: absolute;
    left: 0px;
}
header > ul {
    justify-content: center;
}
header > ul > li {
    display: inline;
    color: white;
    font-size: 20px;
    padding: 25px;
    margin-top: 20px;
}
header > ul > li:hover {
    color: #f05d3a;
}
#conteiner {
    background-color: rgb(5, 5, 5);
    color: white;
}
#conteiner > h1 {
    text-align: center;
}